@{
    ViewData["Title"] = "Biblioteka Gier Planszowych";
}

<div class="text-center">
    <div id="hajeden">
    <h1 class="display-7">Witaj w domowej bibliotece gier planszowych</h1>
 </div>
    <p>Jeśli chcesz rozpocząć budowę swojej biblioteki to proszę zarejestruj się, a następnie zaloguj się.</p>
   
</div>
<div>
<jigimg>

<img src="https://media.vlipsy.com/vlips/UfUHruuk/preview.jpg" alt="jig" style="width:100%">
<jighaslo>DO YOU WONT TO PLAY A GAME?</jighaslo>
</jigimg>



</div>