@model Biblioteka_Gier_Planszowych.Models.Uzytkownik
@{
    ViewData["Title"] = "NowyUzytkownik";
}
<div id="hajeden">
<h1>Nowy Użytkownik</h1>
</div>
<div id="formbox">
<form action="/Uzytkownik/NowyUzytkownik" method="post">
    <div class="form-group">
        <label asp-for="Imie" class="form-label">Imię: </label>
        <input asp-for="Imie" class="form-control" />
        <span asp-validation-for="Imie" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Nazwisko" class="form-label">Nazwisko: </label>
        <input asp-for="Nazwisko" class="form-control" />
        <span asp-validation-for="Nazwisko" class="text-danger"></span>
    </div>


    <div class="form-group">
        <label asp-for="Login" class="control-label">Login: </label>
        <input asp-for="Login" class="form-control" />
        <span asp-validation-for="Login" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Haslo" class="control-label">Hasło: </label>
        <input asp-for="Haslo" class="form-control" />
        <span asp-validation-for="Haslo" class="text-danger"></span>
    </div>
    <div id="separator">
        </div>
    <div class="form-group">
        <input type="submit" value="Zatwierdź" class="btn btn-primary" />
    </div>
</form>

</div>